.about {
    padding: 4rem 0 10rem;

    &_contact-links {
        font-size: 1.8rem;

        &:hover {
            opacity: 0.9;
            animation: pulse;
            animation-duration: 1.5s;
        }
    }

    &_my-image {
        border-radius: 0.5rem;
        height: 35rem;
        object-fit: cover;
        object-position: center;
        margin-bottom: 7rem;

        @include respond(large) {
            height: 40rem;
            object-position: center 60%;
        }
    }
}
